/* NOTES to contributors:
 * use 2 spaces indents, and keep code ALIGNED and ORDERED */
button, switch slider {
  padding: 5px;
  box-shadow: inset 1px 1px alpha(#FFFFFF,0.4), inset -1px 0 alpha(#FFFFFF,0.4);
  background-image: -gtk-gradient(linear, left top, left bottom, from(shade(shade(#cecece, 1.02), 1.05)), to(shade(shade(#cecece, 1.02), 0.97)));
  border-radius: 2px;
  border-top-color: shade(#cecece, 0.8);
  border-right-color: shade(#cecece, 0.72);
  border-bottom-color: shade(#cecece, 0.7);
  border-left-color: shade(#cecece, 0.72);
  border-style: solid;
  border-width: 1px;
  color: #101010;
}

button.flat, modelbutton.flat, popover.background button, .app-notification button,
.app-notification.frame button {
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0), 0 1px rgba(255, 255, 255, 0);
  text-shadow: none;
  -gtk-icon-shadow: none;
}
button.flat:disabled, modelbutton.flat:disabled, popover.background button:disabled, .app-notification button:disabled {
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0), 0 1px rgba(255, 255, 255, 0);
  text-shadow: none;
  -gtk-icon-shadow: none;
}

* {
  background-clip: padding-box;
  background-origin: border-box;
  border-width: 1px;
  border-radius: 1px;
  text-shadow: none;
  -GtkArrow-arrow-scaling: 0.5;
  -GtkCheckButton-indicator-size: 15;
  -GtkCheckMenuItem-indicator-size: 12;
  -GtkEntry-inner-border: 2;
  -GtkEntry-progress-border: 0;
  -GtkExpander-expander-size: 12;
  -GtkHTML-link-color: #2c82dd;
  -GtkIMHtml-hyperlink-color: #2c82dd;
  -GtkMenuBar-internal-padding: 0;
  -GtkProgressBar-min-horizontal-bar-height: 10;
  -GtkProgressBar-min-vertical-bar-width: 10;
  -GtkScrollbar-activate-slider: 1;
  -GtkScrolledWindow-scrollbar-spacing: 0;
  -GtkSeparatorMenuItem-horizontal-padding: 0;
  -GtkStatusbar-shadow-type: none;
  -GtkTextView-error-underline-color: #cc0000;
  -GtkToolbar-internal-padding: 0;
  -GtkToolButton-icon-spacing: 6;
  -GtkToolItemGroup-expander-size: 11;
  -GtkTreeView-expander-size: 11;
  -GtkTreeView-vertical-separator: 0;
  -GtkTreeView-even-row-color: shade(#fcfcfc, 0.92);
  -GtkWindow-resize-grip-height: 13;
  -GtkWindow-resize-grip-width: 13;
  -WnckTasklist-fade-overlay-rect: 0;
}
*:disabled {
  color: mix(#101010, #cecece, 0.6);
  text-shadow: 1px 1px alpha(#FFFFFF,0.4);
  -gtk-icon-effect: dim;
}
*:selected, * selection {
  background-color: #799ABE;
  color: #FFFFFF;
}

.background, headerbar {
  background-color: #cecece;
  color: #101010;
}

.osd {
  border: none;
  background-color: rgba(206, 206, 206, 0.2);
}

.linked > *, .linked:not(.vertical) button, .linked.vertical button, .linked:not(.vertical) spinbutton button, .linked:not(.vertical) spinbutton entry, .linked.vertical spinbutton button, .linked.vertical spinbutton entry, .linked:not(.vertical) combobox > box > button.combo, .linked.vertical combobox > box > button.combo {
  border-radius: 0px;
}

.linked:not(.vertical) > :first-child, .linked:not(.vertical) button:first-child, .linked:not(.vertical) spinbutton:first-child button, .linked:not(.vertical) spinbutton:first-child entry, .linked:not(.vertical) combobox:first-child > box > button.combo {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.linked:not(.vertical) > :last-child, .linked:not(.vertical) button:last-child, .linked:not(.vertical) spinbutton:last-child button, .linked:not(.vertical) spinbutton:last-child entry, .linked:not(.vertical) combobox:last-child > box > button.combo {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
.linked:not(.vertical) > :only-child, .linked:not(.vertical) button:only-child, .linked:not(.vertical) spinbutton:only-child button, .linked:not(.vertical) spinbutton:only-child entry, .linked:not(.vertical) combobox:only-child > box > button.combo {
  border-radius: 2px;
}

.linked.vertical > :first-child, .linked.vertical button:first-child, .linked.vertical spinbutton:first-child button, .linked.vertical spinbutton:first-child entry, .linked.vertical combobox:first-child > box > button.combo {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.linked.vertical > :last-child, .linked.vertical button:last-child, .linked.vertical spinbutton:last-child > box > button.combo button, .linked.vertical spinbutton:last-child > box > button.combo entry, .linked.vertical combobox:last-child > box > button.combo {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.linked.vertical > :only-child, .linked.vertical button:only-child, .linked.vertical spinbutton:only-child > box > button.combo button, .linked.vertical spinbutton:only-child > box > button.combo entry, .linked.vertical combobox:only-child > box > button.combo {
  border-radius: 2px;
}

.linked:not(.vertical) > *:not(:first-child):not(:only-child) {
  border-left-width: 0px;
}
.linked.vertical > *:not(:first-child):not(:only-child) {
  border-top-width: 0px;
}

button.scale, button.link {
  border-color: transparent;
  background: transparent;
  box-shadow: none;
  color: #2c82dd;
}
button.scale label, button.link label {
  text-decoration: underline;
}
button.link label {
  text-decoration: underline;
}
button:active, button:active:hover, button:checked {
  box-shadow: inset 1px 1px alpha(#000000,0.06), inset -1px -1px alpha(#000000,0.06);
  background-image: -gtk-gradient(linear, left top, left bottom, from(shade(shade(#cecece, 0.85), 1.05)), to(shade(shade(#cecece, 0.85), 0.97)));
  border-color: shade(#cecece, 0.6);
}
button:hover {
  background-image: -gtk-gradient(linear, left top, left bottom, from(shade(#cecece, 1.15)), to(shade(#cecece, 1.07)));
  border-top-color: shade(#cecece, 0.85);
  border-right-color: shade(#cecece, 0.78);
  border-bottom-color: shade(#cecece, 0.7);
  border-left-color: shade(#cecece, 0.78);
}
button:focus, button:hover:focus, button:active:focus {
  box-shadow: inset 1px 0 alpha(#799ABE,0.4), inset 0 1px alpha(#799ABE,0.4), inset -1px 0 alpha(#799ABE,0.4), inset 0 -1px alpha(#799ABE,0.4);
  border-color: shade(#799ABE, 0.8);
}
button:disabled {
  box-shadow: inset 1px 1px alpha(#FFFFFF,0.2), inset -1px 0 alpha(#FFFFFF,0.2);
  background-image: linear-gradient(to bottom, shade(shade(#cecece, 0.95), 1.05), shade(shade(#cecece, 0.95), 0.97));
  border-color: shade(#cecece, 0.8);
}
button:disabled:focus {
  background-image: linear-gradient(to bottom, shade(shade(#cecece, 0.95), 1.05), shade(shade(#cecece, 0.95), 0.97));
}
button.combo {
  padding: 3px;
}
.linked:not(.vertical) *:not(:first-child):not(:only-child) button, .linked:not(.vertical) button:not(:first-child):not(:only-child) {
  border-left-width: 0px;
}
.linked.vertical *:not(:first-child):not(:only-child) button, .linked.vertical button:not(:first-child):not(:only-child) {
  border-top-width: 0px;
}

checkbutton, radiobutton {
  padding: 3px;
}

spinbutton entry {
  min-width: 32px;
}
spinbutton button:active:focus, spinbutton button:focus {
  border-top-color: shade(#cecece, 0.8);
  border-right-color: shade(#cecece, 0.72);
  border-bottom-color: shade(#cecece, 0.7);
  border-left-color: shade(#cecece, 0.72);
  box-shadow: inset 1px 1px alpha(#FFFFFF,0.4), inset -1px 0 alpha(#FFFFFF,0.4);
}
spinbutton:not(.vertical) button {
  border-left-width: 0px;
}
spinbutton:not(.vertical) button.down {
  border-radius: 0px;
}
spinbutton:not(.vertical) button.up {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
spinbutton.vertical entry {
  min-height: 21px;
  border-top-width: 0px;
  border-bottom-width: 0px;
}
spinbutton.vertical button.down {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
spinbutton.vertical button.up {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.linked:not(.vertical) *:not(:first-child):not(:only-child) spinbutton:dir(ltr) entry, .linked:not(.vertical) spinbutton:not(:first-child):not(:only-child):dir(ltr) entry {
  border-left-width: 0px;
}
.linked:not(.vertical) *:not(:first-child):not(:only-child) spinbutton:dir(rtl) button:first-child, .linked:not(.vertical) spinbutton:not(:first-child):not(:only-child):dir(rtl) button:first-child {
  border-left-width: 0px;
}
.linked.vertical *:not(:first-child):not(:only-child) spinbutton:not(.vertical) button, .linked.vertical *:not(:first-child):not(:only-child) spinbutton:not(.vertical) entry, .linked.vertical spinbutton:not(:first-child):not(:only-child):not(.vertical) button, .linked.vertical spinbutton:not(:first-child):not(:only-child):not(.vertical) entry {
  border-top-width: 0px;
}
.linked.vertical *:not(:first-child):not(:only-child) spinbutton.vertical button:first-child, .linked.vertical spinbutton:not(:first-child):not(:only-child).vertical button:first-child {
  border-top-width: 0px;
}

entry, textview, view, .view {
  background-color: #fcfcfc;
  border: 1px solid shade(#cecece, 0.8);
}
entry:selected:focus, entry:selected, textview:selected:focus, textview:selected, view:selected:focus, view:selected, .view:selected:focus, .view:selected {
  background-color: #799ABE;
  border-color: #799ABE;
  border-radius: 0px;
}
entry:disabled, textview:disabled, view:disabled, .view:disabled {
  background-color: shade(#fcfcfc, 0.95);
}

entry, textview, view {
  padding: 3px;
}

.view:not(:selected) {
  border: transparent;
}

treeview {
  background-color: #fcfcfc;
}
treeview header button {
  min-height: 16px;
  padding: 4px 5px 3px;
}
treeview header button, treeview header button:hover, treeview header button:focus, treeview header button:active, treeview header button:checked, treeview header button:hover:focus, treeview header button:active:focus {
  background-image: linear-gradient(to bottom, shade(shade(#cecece, 1.14), 0.98), shade(shade(#cecece, 1.14), 1.35));
  border-color: shade(#cecece, 0.97);
  border-bottom-color: shade(#cecece, 0.8);
}
treeview header button:not(:first-child) {
  border-left-width: 0px;
}
treeview .cell {
  padding: 2px;
}
treeview.view.progressbar {
  background-image: linear-gradient(to bottom, shade(shade(#799ABE, 1.05), 0.95), shade(shade(#799ABE, 1.05), 1.15));
  background-color: #799ABE;
  border: 1px solid shade(#799ABE, 0.7);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px rgba(0, 0, 0, 0.2);
}
treeview.view.trough {
  padding: 0px;
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid shade(#cecece, 0.6);
  background-color: shade(#cecece, 0.9);
  background-image: linear-gradient(to bottom, shade(shade(#cecece, 1.05), 0.95), shade(shade(#cecece, 1.05), 1.15));
}
treeview.view.trough:selected:focus, treeview.view.trough:selected {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1px;
  border-width: 1px 0;
  border-style: solid;
  border-color: #799ABE;
}

toolbar {
  padding: 2px;
}

/********
 * menu *
 ********/
menuitem {
  padding: 3px 5px;
  border: 1px solid transparent;
}
menuitem:hover {
  color: #FFFFFF;
  background: shade(#686868, 0.7);
}
menuitem:disabled {
  color: #1d1d1d;
  text-shadow: none;
}
menuitem check, menuitem radio {
  min-height: 12px;
  min-width: 12px;
}
menuitem check:dir(ltr), menuitem radio:dir(ltr) {
  margin-right: 7px;
}
menuitem check:dir(rtl), menuitem radio:dir(rtl) {
  margin-left: 7px;
}
menuitem arrow {
  min-height: 9px;
  min-width: 9px;
}
menuitem arrow:dir(ltr) {
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
  margin-left: 10px;
}
menuitem arrow:dir(rtl) {
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
  margin-right: 10px;
}

menubar:hover {
  color: #FFFFFF;
}

menu {
  background: #686868;
  border: 1px solid shade(#686868, 0.7);
}
menu > menuitem {
  color: #FFFFFF;
}
menu > menuitem accelerator {
  color: shade(#FFFFFF, 0.7);
  margin-left: 5px;
}
menu > menuitem:hover, menu > menuitem:active {
  border-color: shade(#686868, 0.5);
}
menu separator {
  border-top: 1px solid shade(#686868, 0.8);
  margin: 3px 15px;
  padding: 0px 15px;
}

tooltip {
  padding: 2px;
}
tooltip.background {
  background-color: #000000;
  color: #e1e1e1;
}
tooltip * {
  background-color: transparent;
  color: #e1e1e1;
}

@keyframes spin {
  to {
    -gtk-icon-transform: rotate(1turn);
  }
}
spinner {
  background: none;
  opacity: 0;
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
}
spinner:checked {
  opacity: 1;
  animation: spin 1s linear infinite;
}
spinner:checked:disabled {
  opacity: 0.5;
}

trough {
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid shade(#cecece, 0.6);
  background-color: shade(#cecece, 0.9);
  background-image: linear-gradient(to bottom, shade(shade(#cecece, 1.05), 0.95), shade(shade(#cecece, 1.05), 1.15));
}

progressbar trough progress {
  background-image: linear-gradient(to bottom, shade(shade(#799ABE, 1.05), 0.95), shade(shade(#799ABE, 1.05), 1.15));
}
progressbar.vertical trough {
  background-image: linear-gradient(to right, shade(shade(#cecece, 1.05), 0.95), shade(shade(#cecece, 1.05), 1.15));
}
progressbar.vertical trough progress {
  background-image: linear-gradient(to right, shade(shade(#799ABE, 1.05), 0.95), shade(shade(#799ABE, 1.05), 1.15));
}

levelbar {
  padding: 0px;
}
levelbar trough {
  padding: 0px;
}
levelbar trough block {
  background-color: #cecece;
  min-height: 3px;
  margin: 2px;
  border: 1px solid shade(#cecece, 0.8);
}
levelbar trough block.filled {
  background-image: linear-gradient(to bottom, shade(shade(#799ABE, 1.05), 0.95), shade(shade(#799ABE, 1.05), 1.15));
}
levelbar.continuous trough block {
  margin: 2px 3px;
}

scale {
  min-height: 10px;
  padding: 10px 0px;
}
scale mark indicator {
  color: #FF0000;
}
scale trough {
  min-height: 4px;
  min-width: 4px;
  border-radius: 99px;
}
scale trough slider {
  min-height: 7px;
  min-width: 7px;
  margin: -7px;
  border-radius: 99px;
  box-shadow: inset 1px 0 shade(#cecece, 0.7), inset 0 1px shade(#cecece, 0.7), inset -1px 0 shade(#cecece, 0.6), inset 0 -1px shade(#cecece, 0.6);
  background-image: linear-gradient(to bottom, shade(shade(#cecece, 1.3), 1.2), shade(shade(#cecece, 1.3), 0.97));
  border: 0px solid shade(#cecece, 0.7);
  color: transparent;
}
scale highlight {
  background-image: linear-gradient(to bottom, shade(shade(#799ABE, 1.05), 0.95), shade(shade(#799ABE, 1.05), 1.15));
}
scale.vertical {
  padding: 0px 10px;
}
scale.vertical trough {
  background-image: linear-gradient(to right, shade(shade(#cecece, 1.05), 0.95), shade(shade(#cecece, 1.05), 1.15));
}
scale.vertical trough progress {
  background-image: linear-gradient(to right, shade(shade(#799ABE, 1.05), 0.95), shade(shade(#799ABE, 1.05), 1.15));
}

* {
  -GtkScrollbar-has-backward-stepper: false;
  -GtkScrollbar-has-forward-stepper: false;
}
scrollbar trough {
  min-width: 7px;
  min-height: 7px;
  border: none;
}
scrollbar.top {
  border-bottom: 1px solid #dbdbdb;
}
scrollbar.bottom {
  border-top: 1px solid #dbdbdb;
}
scrollbar.left {
  border-right: 1px solid #dbdbdb;
}
scrollbar.right {
  border-left: 1px solid #dbdbdb;
}
scrollbar slider {
  min-width: 7px;
  min-height: 7px;
  margin: 3px;
  border: 1px solid #828282;
  border-radius: 10px;
  background-clip: padding-box;
  background-image: linear-gradient(to right, #dbdbdb, #d1d1d1);
}
scrollbar slider:hover {
  background-image: linear-gradient(to right, #c1c1c1, #cbcbcb);
}
scrollbar slider:hover:active {
  background-color: #5780ad;
}
scrollbar slider:disabled {
  background-color: transparent;
}
scrollbar.vertical trough {
  background-image: linear-gradient(to right, shade(shade(#cecece, 1), 1.1), shade(shade(#cecece, 1), 1.3));
}
scrollbar.vertical slider {
  min-height: 40px;
}
scrollbar.horizontal trough {
  background-image: linear-gradient(to bottom, shade(shade(#cecece, 1), 1.1), shade(shade(#cecece, 1), 1.3));
}
scrollbar.horizontal slider {
  min-width: 40px;
}

.linked:not(.vertical) *:not(:first-child):not(:only-child) combobox, .linked:not(.vertical) combobox:not(:first-child):not(:only-child) {
  border-left-width: 0px;
}
.linked.vertical *:not(:first-child):not(:only-child) combobox, .linked.vertical combobox:not(:first-child):not(:only-child) {
  border-top-width: 0px;
}
combobox arrow {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
  min-height: 16px;
  min-width: 16px;
}

separator {
  background: rgba(0, 0, 0, 0.1);
  min-width: 1px;
  min-height: 1px;
}

frame border {
  border: 1px solid shade(#cecece, 0.7);
}
frame border.flat {
  border-width: 0px;
}
frame label:dir(ltr) {
  padding-right: 5px;
}
frame label:dir(rtl) {
  padding-left: 5px;
}

notebook.frame {
  border: none;
}
notebook header tab {
  padding: 5px;
  border: 1px solid shade(#cecece, 0.8);
}
notebook header tab:checked {
  background-color: shade(#cecece, 1.05);
}
notebook header > tabs > arrow {
  min-height: 16px;
  min-width: 16px;
  border-radius: 0;
}
notebook header.top tab {
  padding-bottom: 4px;
  margin-bottom: -1px;
  margin-left: 0px;
  margin-right: 2px;
}
notebook header.top tab:checked {
  border-bottom-color: shade(#cecece, 1.05);
}
notebook header.top tab:not(:checked) {
  margin-top: 2px;
  border-color: shade(#cecece, 0.9);
  border-bottom-color: shade(#cecece, 0.8);
}
notebook header.top > tabs > arrow {
  margin-left: -5px;
  margin-right: -5px;
  padding-left: 4px;
  padding-right: 4px;
}
notebook header.top > tabs > arrow.down {
  -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
}
notebook header.top > tabs > arrow.up {
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}
notebook header.bottom tab {
  padding-top: 4px;
  margin-top: -1px;
  margin-left: 0px;
  margin-right: 2px;
}
notebook header.bottom tab:checked {
  border-top-color: shade(#cecece, 1.05);
}
notebook header.bottom tab:not(:checked) {
  margin-bottom: 2px;
  border-color: shade(#cecece, 0.9);
  border-top-color: shade(#cecece, 0.8);
}
notebook header.bottom > tabs > arrow {
  margin-left: -5px;
  margin-right: -5px;
  padding-left: 4px;
  padding-right: 4px;
}
notebook header.bottom > tabs > arrow.down {
  -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
}
notebook header.bottom > tabs > arrow.up {
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}
notebook header.left tab {
  padding-right: 4px;
  margin-right: -1px;
  margin-top: 0px;
  margin-bottom: 2px;
}
notebook header.left tab:checked {
  border-right-color: shade(#cecece, 1.05);
}
notebook header.left tab:not(:checked) {
  margin-left: 2px;
  border-color: shade(#cecece, 0.9);
  border-right-color: shade(#cecece, 0.8);
}
notebook header.left > tabs > arrow {
  margin-top: -5px;
  margin-bottom: -5px;
  padding-top: 4px;
  padding-bottom: 4px;
}
notebook header.left > tabs > arrow.down {
  -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}
notebook header.left > tabs > arrow.up {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}
notebook header.right tab {
  padding-left: 4px;
  margin-left: -1px;
  margin-top: 0px;
  margin-bottom: 2px;
}
notebook header.right tab:checked {
  border-left-color: shade(#cecece, 1.05);
}
notebook header.right tab:not(:checked) {
  margin-right: 2px;
  border-color: shade(#cecece, 0.9);
  border-left-color: shade(#cecece, 0.8);
}
notebook header.right > tabs > arrow {
  margin-top: -5px;
  margin-bottom: -5px;
  padding-top: 4px;
  padding-bottom: 4px;
}
notebook header.right > tabs > arrow.down {
  -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}
notebook header.right > tabs > arrow.up {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}
notebook stack:not(:only-child) {
  border-radius: 1px;
  border-style: solid;
  border-color: shade(#cecece, 0.8);
  background-color: shade(#cecece, 1.05);
}

switch {
  border: 1px solid shade(#cecece, 0.8);
  border-radius: 2px;
  color: #101010;
  background-image: linear-gradient(to bottom, #cecece, shade(#cecece, 0.97));
}
switch slider {
  padding: 0px;
  min-height: 26px;
  border-radius: 2px;
  box-shadow: inset 1px 1px alpha(#FFFFFF,0.4), inset -1px 0 alpha(#FFFFFF,0.4);
}
switch:disabled slider {
  box-shadow: inset 1px 1px alpha(#FFFFFF,0.2), inset -1px 0 alpha(#FFFFFF,0.2);
  background-image: linear-gradient(to bottom, shade(shade(#cecece, 0.95), 1.05), shade(shade(#cecece, 0.95), 0.97));
  border-color: shade(#cecece, 0.8);
}
switch:checked {
  color: white;
  border: 1px solid shade(#cecece, 0.97);
  background-color: #799ABE;
  background-image: none;
  text-shadow: 0 1px rgba(121, 154, 190, 0.5), 0 0 2px rgba(255, 255, 255, 0.6);
}

list {
  background: shade(#cecece, 1.25);
}
list row {
  background: shade(#cecece, 1.25);
  margin: 0px;
}
list row:selected {
  background: linear-gradient(to bottom, #e8e8e8, #dbdbdb);
  color: #101010;
}
list row:hover, list row:active {
  background: linear-gradient(to bottom, #f4f4f4, #eaeaea);
  color: #101010;
}
list row.sidebar-row {
  padding: 10px 4px;
  margin-top: -2px;
  border-style: solid;
  border-width: 1px 0px;
  border-color: transparent;
}
list row.sidebar-row:selected, list row.sidebar-row:hover, list row.sidebar-row:active {
  background: #799ABE;
  color: #FFFFFF;
  border-color: shade(#799ABE, 0.8);
}
list row.sidebar-row:hover, list row.sidebar-row:active {
  border-color: #799ABE;
}
list row.sidebar-row:first-child {
  margin-top: -4px;
}
list row > label {
  margin: 10px 4px;
}

modelbutton.flat, popover.background button, .app-notification button,
.app-notification.frame button {
  min-height: 24px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 1px;
  outline-offset: -2px;
}
modelbutton.flat:hover, popover.background button:hover, .app-notification button:hover {
  background-color: shade(#686868, 0.7);
  box-shadow: none;
  border-color: shade(#686868, 0.5);
}
modelbutton.flat:active, popover.background button:active, .app-notification button:active {
  background-color: #686868;
  box-shadow: none;
  border-color: shade(#686868, 0.5);
}
modelbutton.flat:focus, popover.background button:focus, .app-notification button:focus, modelbutton.flat:active:focus, popover.background button:active:focus, .app-notification button:active:focus {
  border-color: transparent;
}
modelbutton.flat check:last-child, popover.background button check:last-child, .app-notification button check:last-child,
modelbutton.flat radio:last-child,
popover.background button radio:last-child,
.app-notification button radio:last-child {
  margin-left: 8px;
  background-image: none;
}
modelbutton.flat check:first-child, popover.background button check:first-child, .app-notification button check:first-child,
modelbutton.flat radio:first-child,
popover.background button radio:first-child,
.app-notification button radio:first-child {
  margin-right: 8px;
}

popover.background, .app-notification,
.app-notification.frame {
  padding: 1px;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #686868;
  border: 1px solid shade(#686868, 0.7);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
popover.background label:disabled, .app-notification label:disabled,
.app-notification.frame label:disabled {
  color: #1d1d1d;
}
popover.background button, .app-notification button,
.app-notification.frame button {
  min-height: unset;
}
popover.background > list, .app-notification > list,
.app-notification.frame > list,
popover.background > .view,
.app-notification > .view,
.app-notification.frame > .view,
popover.background > toolbar,
.app-notification > toolbar,
.app-notification.frame > toolbar {
  border-style: none;
  background-color: transparent;
}
.csd popover.background.touch-selection, .csd .touch-selection.app-notification,
.csd .touch-selection.app-notification.frame, .csd popover.background.magnifier, .csd .magnifier.app-notification,
.csd .magnifier.app-notification.frame, popover.background.touch-selection, .touch-selection.app-notification, popover.background.magnifier, .magnifier.app-notification {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
popover.background separator, .app-notification separator,
.app-notification.frame separator {
  margin: 3px;
}
popover.background list separator, .app-notification list separator,
.app-notification.frame list separator {
  margin: 0px;
}

.nemo-window-pane > .view {
  background: shade(#cecece, 1.25);
}

paned {
  border-width: 0px;
}

colorswatch {
  border: none;
  border-radius: 2px;
}
colorswatch.dark overlay {
  color: #FFFFFF;
}
colorswatch.dark overlay:hover {
  border-color: rgba(0, 0, 0, 0.8);
}
colorswatch.light overlay {
  color: #000000;
  background: transparent;
}
colorswatch.light overlay:hover {
  border-color: rgba(0, 0, 0, 0.5);
}
colorswatch overlay {
  box-shadow: inset 0 2px 2px -3px rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}
colorswatch overlay:hover {
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3);
}
colorswatch overlay:selected {
  background: transparent;
}
colorswatch:disabled overlay {
  border-color: rgba(0, 0, 0, 0.6);
  box-shadow: none;
}

colorchooser .popover.osd {
  border-radius: 3px;
}

filechooser paned box.view {
  background-color: #cecece;
}

/***************************
 * Client Side decorations *
 ***************************/
decoration {
  border-radius: 7px 7px 0px 0px;
  border-width: 0px;
  box-shadow: 0 3px 9px 1px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(0, 0, 0, 0.23);
  margin: 10px;
}

headerbar {
  border-radius: 7px 7px 0px 0px;
  min-height: 32px;
  padding: 6px;
  background: #cecece linear-gradient(to bottom, shade(#cecece, 1.07), #cecece);
  border-bottom: 1px solid shade(#cecece, 0.8);
}
headerbar .right {
  margin-top: -6px;
  margin-bottom: -6px;
  margin-right: -6px;
}
headerbar .right button:last-child {
  border-top-right-radius: 7px;
}
headerbar .titlebutton.close, headerbar .titlebutton.close:disabled, headerbar .titlebutton.close image, headerbar .titlebutton.close image:disabled, headerbar .titlebutton.minimize, headerbar .titlebutton.minimize:disabled, headerbar .titlebutton.minimize image, headerbar .titlebutton.minimize image:disabled, headerbar .titlebutton.maximize, headerbar .titlebutton.maximize:disabled, headerbar .titlebutton.maximize image, headerbar .titlebutton.maximize image:disabled {
  background-repeat: no-repeat;
  background-position: 50% 10%;
  color: transparent;
  min-height: 32px;
  box-shadow: none;
  border: none;
}
headerbar .titlebutton.close:hover, headerbar .titlebutton.close:selected, headerbar .titlebutton.close:active, headerbar .titlebutton.close:checked, headerbar .titlebutton.close:focus, headerbar .titlebutton.close:hover:focus, headerbar .titlebutton.close:active:focus, headerbar .titlebutton.minimize:hover, headerbar .titlebutton.minimize:selected, headerbar .titlebutton.minimize:active, headerbar .titlebutton.minimize:checked, headerbar .titlebutton.minimize:focus, headerbar .titlebutton.minimize:hover:focus, headerbar .titlebutton.minimize:active:focus, headerbar .titlebutton.maximize:hover, headerbar .titlebutton.maximize:selected, headerbar .titlebutton.maximize:active, headerbar .titlebutton.maximize:checked, headerbar .titlebutton.maximize:focus, headerbar .titlebutton.maximize:hover:focus, headerbar .titlebutton.maximize:active:focus {
  box-shadow: none;
  background-image: none;
  border: none;
}
headerbar .titlebutton.close {
  background-image: url("assets/close-focus-normal.svg");
}
headerbar .titlebutton.close:backdrop {
  background-image: url("assets/close-focus-none.svg");
}
headerbar .titlebutton.close:hover {
  background-image: url("assets/close-focus.svg");
}
headerbar .titlebutton.close:active, headerbar .titlebutton.close:active:hover {
  background-image: url("assets/close-pressed.svg");
}
headerbar .titlebutton.minimize {
  background-image: url("assets/minimize-focus-normal.svg");
}
headerbar .titlebutton.minimize:backdrop {
  background-image: url("assets/minimize-focus-none.svg");
}
headerbar .titlebutton.minimize:hover {
  background-image: url("assets/minimize-focus.svg");
}
headerbar .titlebutton.minimize:active, headerbar .titlebutton.minimize:active:hover {
  background-image: url("assets/minimize-pressed.svg");
}
headerbar .titlebutton.maximize {
  background-image: url("assets/maximize-focus-normal.svg");
}
headerbar .titlebutton.maximize:backdrop {
  background-image: url("assets/maximize-focus-none.svg");
}
headerbar .titlebutton.maximize:hover {
  background-image: url("assets/maximize-focus.svg");
}
headerbar .titlebutton.maximize:active, headerbar .titlebutton.maximize:active:hover {
  background-image: url("assets/maximize-pressed.svg");
}
.maximized headerbar {
  border-radius: 0px;
}
.maximized headerbar .right button {
  margin-top: -1px;
}
.maximized headerbar .right button:last-child {
  border-top-right-radius: 0px;
}
.maximized headerbar .left button {
  margin-top: -1px;
}
.maximized headerbar .left button:first-child {
  border-top-left-radius: 0px;
}
headerbar .title {
  font-weight: bold;
}

.app-notification,
.app-notification.frame {
  padding: 10px;
  border-radius: 0 0 5px 5px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent 2px);
  background-clip: padding-box;
}
.app-notification border,
.app-notification.frame border {
  border: none;
}
