$fg_color: #101010;
$bg_color: #cecece;
$text_color: #000000;
$base_color: #fcfcfc;
$selected_bg_color: #799ABE;
$selected_fg_color: #FFFFFF;
$tooltip_bg_color: #000000;
$tooltip_fg_color: #e1e1e1;
$placeholder_text_color: #808080;

$info_fg_color: #B5AB9C;
$info_bg_color: #FCFCBD;
$warning_fg_color: #AD7829;
$warning_bg_color: #FAAD3D;
$question_fg_color: #617AD6;
$question_bg_color: #8AADD4;
$error_fg_color: #A62626;
$error_bg_color: #ED3636;
$link_color: #2c82dd;
$success_color: #4e9a06;
$error_color: #cc0000;

$dark_bg_color: #686868;
$dark_fg_color: #FFFFFF;

$light_shadow: #FFFFFF;
$dark_shadow: #000000;
