
@import 'colors';

.xfce4-panel.background {
  background: shade($dark_bg_color, 0.35);
  button.toggle {
    background: transparent;
    color: shade($base_color, 0.9);
    border-color: transparent;
    border-radius: 0px;
    
    &:checked {
      background-color: shade($dark_bg_color, 0.65);
    }
    
    &:hover {
      background-color: shade($selected_bg_color, 0.85);
      color: $base_color;
    }
  }
}
