.xfce4-panel button.toggle {
  background: shade(#686868, 0.35);
  color: shade(#fcfcfc, 0.9);
  border-color: transparent;
  border-radius: 0px;
}
.xfce4-panel button.toggle:checked {
  background-color: shade(#686868, 0.65);
}
.xfce4-panel button.toggle:hover {
  background-color: shade(#799ABE, 0.85);
  color: #fcfcfc;
}
