/* NOTES to contributors:
 * use 2 spaces indents, and keep code ALIGNED and ORDERED */
button, switch slider {
  padding: 5px;
  box-shadow: inset 1px 1px alpha(#FFFFFF,0.4), inset -1px 0 alpha(#FFFFFF,0.4);
  background-image: -gtk-gradient(linear, left top, left bottom, from(shade(shade(#cecece, 1.02), 1.05)), to(shade(shade(#cecece, 1.02), 0.97)));
  border-radius: 2px;
  border-top-color: shade(#cecece, 0.8);
  border-right-color: shade(#cecece, 0.72);
  border-bottom-color: shade(#cecece, 0.7);
  border-left-color: shade(#cecece, 0.72);
  border-style: solid;
  border-width: 1px;
  color: #101010;
}

button.flat, modelbutton.flat {
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0), 0 1px rgba(255, 255, 255, 0);
  text-shadow: none;
  -gtk-icon-shadow: none;
}

* {
  background-clip: padding-box;
  background-origin: border-box;
  border-width: 1px;
  border-radius: 1px;
  text-shadow: none;
  -GtkArrow-arrow-scaling: 0.5;
  -GtkCheckButton-indicator-size: 15;
  -GtkCheckMenuItem-indicator-size: 12;
  -GtkEntry-inner-border: 2;
  -GtkEntry-progress-border: 0;
  -GtkExpander-expander-size: 12;
  -GtkHTML-link-color: #2c82dd;
  -GtkIMHtml-hyperlink-color: #2c82dd;
  -GtkMenuBar-internal-padding: 0;
  -GtkProgressBar-min-horizontal-bar-height: 10;
  -GtkProgressBar-min-vertical-bar-width: 10;
  -GtkScrollbar-activate-slider: 1;
  -GtkScrolledWindow-scrollbar-spacing: 0;
  -GtkSeparatorMenuItem-horizontal-padding: 0;
  -GtkStatusbar-shadow-type: none;
  -GtkTextView-error-underline-color: #cc0000;
  -GtkToolbar-internal-padding: 0;
  -GtkToolButton-icon-spacing: 6;
  -GtkToolItemGroup-expander-size: 11;
  -GtkTreeView-expander-size: 11;
  -GtkTreeView-vertical-separator: 0;
  -GtkTreeView-even-row-color: shade(#fcfcfc, 0.92);
  -GtkWindow-resize-grip-height: 13;
  -GtkWindow-resize-grip-width: 13;
  -WnckTasklist-fade-overlay-rect: 0;
}
*:disabled {
  color: mix(#101010, #cecece, 0.4);
  text-shadow: 1px 1px alpha(#FFFFFF,0.4);
}
*:selected, * selection {
  background-color: #799ABE;
  color: #FFFFFF;
}

.background, headerbar {
  background-color: #cecece;
  color: #101010;
}

/***************************
 * Client Side decorations *
 ***************************/
decoration {
  border-radius: 7px 7px 0px 0px;
  border-width: 0px;
  box-shadow: 0 3px 9px 1px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(0, 0, 0, 0.23);
  margin: 10px;
}

headerbar {
  border-radius: 7px 7px 0px 0px;
}
headerbar .right button:last-child {
  border-top-right-radius: 7px;
}
headerbar .left button:first-child {
  border-top-left-radius: 7px;
}
headerbar .titlebutton {
  box-shadow: none;
  background-image: none;
  border: none;
}
.maximized headerbar {
  border-radius: 0px;
}
.maximized headerbar .right button {
  margin-top: -1px;
}
.maximized headerbar .right button:last-child {
  border-top-right-radius: 0px;
}
.maximized headerbar .left button {
  margin-top: -1px;
}
.maximized headerbar .left button:first-child {
  border-top-left-radius: 0px;
}

button.scale, button.link {
  border-color: transparent;
  background: transparent;
  box-shadow: none;
  color: #2c82dd;
}
button.scale label, button.link label {
  text-decoration: underline;
}
button.link label {
  text-decoration: underline;
}
button:active, button:active:hover, button:checked {
  box-shadow: inset 1px 1px alpha(#000000,0.06), inset -1px -1px alpha(#000000,0.06);
  background-image: -gtk-gradient(linear, left top, left bottom, from(shade(shade(#cecece, 0.85), 1.05)), to(shade(shade(#cecece, 0.85), 0.97)));
  border-color: shade(#cecece, 0.6);
}
button:hover {
  background-image: -gtk-gradient(linear, left top, left bottom, from(shade(#cecece, 1.15)), to(shade(#cecece, 1.07)));
  border-top-color: shade(#cecece, 0.85);
  border-right-color: shade(#cecece, 0.78);
  border-bottom-color: shade(#cecece, 0.7);
  border-left-color: shade(#cecece, 0.78);
}
button:focus, button:hover:focus, button:active:focus {
  box-shadow: inset 1px 0 alpha(#799ABE,0.4), inset 0 1px alpha(#799ABE,0.4), inset -1px 0 alpha(#799ABE,0.4), inset 0 -1px alpha(#799ABE,0.4);
  border-color: shade(#799ABE, 0.8);
}
button:disabled {
  box-shadow: inset 1px 1px alpha(#FFFFFF,0.2), inset -1px 0 alpha(#FFFFFF,0.2);
  background-image: linear-gradient(to bottom, shade(shade(#cecece, 0.95), 1.05), shade(shade(#cecece, 0.95), 0.97));
  border-color: shade(#cecece, 0.8);
}
button:disabled:focus {
  background-image: linear-gradient(to bottom, shade(shade(#cecece, 0.95), 1.05), shade(shade(#cecece, 0.95), 0.97));
}
button.combo {
  padding: 3px;
}
toolbar button {
  box-shadow: none;
}
toolbar .linked button {
  box-shadow: none;
  border-radius: 0px;
}
toolbar .linked button:first-child {
  border-bottom-left-radius: 1px;
  border-top-left-radius: 1px;
}
toolbar .linked button:last-child {
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}
.linked *:not(:first-child):not(:only-child) button, .linked button:not(:first-child):not(:only-child) {
  border-left-width: 0px;
}

treeview {
  background-color: #fcfcfc;
}
treeview header button, treeview header button:hover, treeview header button:focus, treeview header button:active, treeview header button:checked, treeview header button:hover:focus, treeview header button:active:focus {
  background-image: linear-gradient(to bottom, shade(shade(#cecece, 1.14), 0.98), shade(shade(#cecece, 1.14), 1.35));
  border-color: shade(#cecece, 0.97);
  border-bottom-color: shade(#cecece, 0.8);
}
treeview .cell {
  padding: 2px;
}

checkbutton, radiobutton {
  padding: 3px;
}

entry, textview, view, .view:not(:selected) {
  padding: 3px;
  background-color: #fcfcfc;
  border: 1px solid shade(#cecece, 0.8);
}

.view:not(:selected) {
  border: transparent;
}

toolbar {
  padding: 2px;
}

/********
 * menu *
 ********/
menuitem {
  padding: 3px 5px;
  border: 1px solid transparent;
}
menuitem:hover {
  color: #FFFFFF;
  background: shade(#686868, 0.7);
}
menuitem:disabled {
  color: #1d1d1d;
  text-shadow: none;
}
menuitem check, menuitem radio {
  min-height: 12px;
  min-width: 12px;
}
menuitem check:dir(ltr), menuitem radio:dir(ltr) {
  margin-right: 7px;
}
menuitem check:dir(rtl), menuitem radio:dir(rtl) {
  margin-left: 7px;
}
menuitem arrow {
  min-height: 9px;
  min-width: 9px;
}
menuitem arrow:dir(ltr) {
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
  margin-left: 10px;
}
menuitem arrow:dir(rtl) {
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
  margin-right: 10px;
}

menubar:hover {
  color: #FFFFFF;
}

menu {
  background: #686868;
  border: 1px solid shade(#686868, 0.7);
}
menu > menuitem {
  color: #FFFFFF;
}
menu > menuitem accelerator {
  color: shade(#FFFFFF, 0.7);
  margin-left: 5px;
}
menu > menuitem:hover, menu > menuitem:active {
  border-color: shade(#686868, 0.5);
}
menu separator {
  border-top: 1px solid shade(#686868, 0.8);
  margin: 3px 15px;
  padding: 0px 15px;
}

tooltip {
  padding: 2px;
}
tooltip.background {
  background-color: #000000;
  color: #e1e1e1;
}
tooltip * {
  background-color: transparent;
  color: #e1e1e1;
}

@keyframes spin {
  to {
    -gtk-icon-transform: rotate(1turn);
  }
}
spinner {
  background: none;
  opacity: 0;
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
}
spinner:checked {
  opacity: 1;
  animation: spin 1s linear infinite;
}
spinner:checked:disabled {
  opacity: 0.5;
}

trough {
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid shade(#cecece, 0.6);
  background-color: shade(#cecece, 0.9);
  background-image: linear-gradient(to bottom, shade(shade(#cecece, 1.05), 0.95), shade(shade(#cecece, 1.05), 1.15));
}
progressbar trough progress {
  background-image: linear-gradient(to bottom, shade(shade(#799ABE, 1.05), 0.95), shade(shade(#799ABE, 1.05), 1.15));
  border-style: solid;
  border-width: 1px;
  border-color: shade(#799ABE, 0.7);
}
progressbar.vertical trough {
  background-image: linear-gradient(to right, shade(shade(#cecece, 1.05), 0.95), shade(shade(#cecece, 1.05), 1.15));
}
progressbar.vertical trough progress {
  background-image: linear-gradient(to right, shade(shade(#799ABE, 1.05), 0.95), shade(shade(#799ABE, 1.05), 1.15));
}

progressbar trough progress {
  background-image: linear-gradient(to bottom, shade(shade(#799ABE, 1.05), 0.95), shade(shade(#799ABE, 1.05), 1.15));
  border-style: solid;
  border-width: 1px;
  border-color: shade(#799ABE, 0.7);
  border: none;
}
progressbar.vertical trough {
  background-image: linear-gradient(to right, shade(shade(#cecece, 1.05), 0.95), shade(shade(#cecece, 1.05), 1.15));
}
progressbar.vertical trough progress {
  background-image: linear-gradient(to right, shade(shade(#799ABE, 1.05), 0.95), shade(shade(#799ABE, 1.05), 1.15));
  border: none;
}

levelbar trough block {
  min-height: 9px;
}
levelbar trough block.filled {
  background-image: linear-gradient(to bottom, shade(shade(#799ABE, 1.05), 0.95), shade(shade(#799ABE, 1.05), 1.15));
}

scale {
  min-height: 10px;
  padding: 10px 0px;
}
scale trough {
  min-height: 4px;
  min-width: 4px;
  border-radius: 99px;
}
scale trough slider {
  min-height: 7px;
  min-width: 7px;
  margin: -7px;
  border-radius: 99px;
  box-shadow: inset 1px 0 shade(#cecece, 0.7), inset 0 1px shade(#cecece, 0.7), inset -1px 0 shade(#cecece, 0.6), inset 0 -1px shade(#cecece, 0.6);
  background-image: linear-gradient(to bottom, shade(shade(#cecece, 1.3), 1.2), shade(shade(#cecece, 1.3), 0.97));
  border: 0px solid shade(#cecece, 0.7);
  color: transparent;
}
scale highlight {
  background-image: linear-gradient(to bottom, shade(shade(#799ABE, 1.05), 0.95), shade(shade(#799ABE, 1.05), 1.15));
}
scale.vertical {
  padding: 0px 10px;
}
scale.vertical trough {
  background-image: linear-gradient(to right, shade(shade(#cecece, 1.05), 0.95), shade(shade(#cecece, 1.05), 1.15));
}
scale.vertical trough progress {
  background-image: linear-gradient(to right, shade(shade(#799ABE, 1.05), 0.95), shade(shade(#799ABE, 1.05), 1.15));
}

* {
  -GtkScrollbar-has-backward-stepper: false;
  -GtkScrollbar-has-forward-stepper: false;
}
scrollbar trough {
  min-width: 7px;
  min-height: 7px;
  border: none;
}
scrollbar.top {
  border-bottom: 1px solid #dbdbdb;
}
scrollbar.bottom {
  border-top: 1px solid #dbdbdb;
}
scrollbar.left {
  border-right: 1px solid #dbdbdb;
}
scrollbar.right {
  border-left: 1px solid #dbdbdb;
}
scrollbar slider {
  min-width: 7px;
  min-height: 7px;
  margin: 3px;
  border: 1px solid #828282;
  border-radius: 10px;
  background-clip: padding-box;
  background-image: linear-gradient(to right, #dbdbdb, #d1d1d1);
}
scrollbar slider:hover {
  background-image: linear-gradient(to right, #c1c1c1, #cbcbcb);
}
scrollbar slider:hover:active {
  background-color: #5780ad;
}
scrollbar slider:disabled {
  background-color: transparent;
}
scrollbar.vertical trough {
  background-image: linear-gradient(to right, shade(shade(#cecece, 1), 1.1), shade(shade(#cecece, 1), 1.3));
}
scrollbar.vertical slider {
  min-height: 40px;
}
scrollbar.horizontal trough {
  background-image: linear-gradient(to bottom, shade(shade(#cecece, 1), 1.1), shade(shade(#cecece, 1), 1.3));
}
scrollbar.horizontal slider {
  min-width: 40px;
}

combobox arrow {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
  min-height: 16px;
  min-width: 16px;
}

separator {
  background: rgba(0, 0, 0, 0.1);
  min-width: 1px;
  min-height: 1px;
}

frame border {
  border: 1px solid shade(#cecece, 0.7);
}
frame border.flat {
  border: none;
}
frame label:dir(ltr) {
  padding-right: 5px;
}
frame label:dir(rtl) {
  padding-left: 5px;
}

notebook.frame {
  border: none;
}
notebook header tab {
  padding: 5px;
  border: 1px solid shade(#cecece, 0.8);
}
notebook header tab:checked {
  background-color: shade(#cecece, 1.05);
}
notebook header > tabs > arrow {
  min-height: 16px;
  min-width: 16px;
  border-radius: 0;
}
notebook header.top tab {
  padding-bottom: 4px;
  margin-bottom: -1px;
  margin-left: 0px;
  margin-right: 2px;
}
notebook header.top tab:checked {
  border-bottom-color: shade(#cecece, 1.05);
}
notebook header.top tab:not(:checked) {
  margin-top: 2px;
  border-color: shade(#cecece, 0.9);
  border-bottom-color: shade(#cecece, 0.8);
}
notebook header.top > tabs > arrow {
  margin-left: -5px;
  margin-right: -5px;
  padding-left: 4px;
  padding-right: 4px;
}
notebook header.top > tabs > arrow.down {
  -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
}
notebook header.top > tabs > arrow.up {
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}
notebook header.bottom tab {
  padding-top: 4px;
  margin-top: -1px;
  margin-left: 0px;
  margin-right: 2px;
}
notebook header.bottom tab:checked {
  border-top-color: shade(#cecece, 1.05);
}
notebook header.bottom tab:not(:checked) {
  margin-bottom: 2px;
  border-color: shade(#cecece, 0.9);
  border-top-color: shade(#cecece, 0.8);
}
notebook header.bottom > tabs > arrow {
  margin-left: -5px;
  margin-right: -5px;
  padding-left: 4px;
  padding-right: 4px;
}
notebook header.bottom > tabs > arrow.down {
  -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
}
notebook header.bottom > tabs > arrow.up {
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}
notebook header.left tab {
  padding-right: 4px;
  margin-right: -1px;
  margin-top: 0px;
  margin-bottom: 2px;
}
notebook header.left tab:checked {
  border-right-color: shade(#cecece, 1.05);
}
notebook header.left tab:not(:checked) {
  margin-left: 2px;
  border-color: shade(#cecece, 0.9);
  border-right-color: shade(#cecece, 0.8);
}
notebook header.left > tabs > arrow {
  margin-top: -5px;
  margin-bottom: -5px;
  padding-top: 4px;
  padding-bottom: 4px;
}
notebook header.left > tabs > arrow.down {
  -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}
notebook header.left > tabs > arrow.up {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}
notebook header.right tab {
  padding-left: 4px;
  margin-left: -1px;
  margin-top: 0px;
  margin-bottom: 2px;
}
notebook header.right tab:checked {
  border-left-color: shade(#cecece, 1.05);
}
notebook header.right tab:not(:checked) {
  margin-right: 2px;
  border-color: shade(#cecece, 0.9);
  border-left-color: shade(#cecece, 0.8);
}
notebook header.right > tabs > arrow {
  margin-top: -5px;
  margin-bottom: -5px;
  padding-top: 4px;
  padding-bottom: 4px;
}
notebook header.right > tabs > arrow.down {
  -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}
notebook header.right > tabs > arrow.up {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}
notebook stack:not(:only-child) {
  border-radius: 1px;
  border-style: solid;
  border-color: shade(#cecece, 0.8);
  background-color: shade(#cecece, 1.05);
}

switch {
  border: 1px solid shade(#cecece, 0.8);
  border-radius: 2px;
  color: #101010;
  background-image: linear-gradient(to bottom, #cecece, shade(#cecece, 0.97));
}
switch slider {
  padding: 0px;
  min-height: 26px;
  border-radius: 2px;
  box-shadow: inset 1px 1px alpha(#FFFFFF,0.4), inset -1px 0 alpha(#FFFFFF,0.4);
}
switch:checked {
  color: white;
  border: 1px solid shade(#cecece, 0.97);
  background-color: #799ABE;
  background-image: none;
  text-shadow: 0 1px rgba(121, 154, 190, 0.5), 0 0 2px rgba(255, 255, 255, 0.6);
}

list {
  background: shade(#cecece, 1.25);
}
list row {
  border-top: none;
  border-bottom: none;
  background: shade(#cecece, 1.25);
}
list row.sidebar-row {
  padding: 10px 4px;
}
list row:selected {
  background: linear-gradient(to bottom, #e8e8e8, #dbdbdb);
  color: #101010;
}
list row:hover, list row:active {
  background: linear-gradient(to bottom, #f4f4f4, #eaeaea);
  color: #101010;
}
list row > label {
  margin: 10px 4px;
}

modelbutton.flat {
  min-height: 24px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 1px;
  outline-offset: -2px;
}
modelbutton.flat:hover {
  background-color: shade(#686868, 0.7);
}
modelbutton.flat:selected {
  background-color: #799ABE;
}
modelbutton.flat check:last-child,
modelbutton.flat radio:last-child {
  margin-left: 8px;
  background-image: none;
}
modelbutton.flat check:first-child,
modelbutton.flat radio:first-child {
  margin-right: 8px;
}

popover.background {
  padding: 1px;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #686868;
  border: 1px solid shade(#686868, 0.7);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
popover.background label:disabled {
  color: #1d1d1d;
}
popover.background > list,
popover.background > .view,
popover.background > toolbar {
  border-style: none;
  background-color: transparent;
}
.csd popover.background.touch-selection, .csd popover.background.magnifier, popover.background.touch-selection, popover.background.magnifier {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
popover.background separator {
  margin: 3px;
}
popover.background list separator {
  margin: 0px;
}

.nemo-window-pane > .view {
  background: shade(#cecece, 1.25);
}
